<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных</a></span></li><li><span><a href="#Умножение-матриц" data-toc-modified-id="Умножение-матриц-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Умножение матриц</a></span></li><li><span><a href="#Алгоритм-преобразования" data-toc-modified-id="Алгоритм-преобразования-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Алгоритм преобразования</a></span></li><li><span><a href="#Проверка-алгоритма" data-toc-modified-id="Проверка-алгоритма-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Проверка алгоритма</a></span></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Вывод</a></span></li><li><span><a href="#Чек-лист-проверки" data-toc-modified-id="Чек-лист-проверки-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Чек-лист проверки</a></span></li></ul></div>

# Защита персональных данных клиентов

Вам нужно защитить данные клиентов страховой компании «Хоть потоп». Разработайте такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию. Обоснуйте корректность его работы.

Нужно защитить данные, чтобы при преобразовании качество моделей машинного обучения не ухудшилось. Подбирать наилучшую модель не требуется.

## Загрузка данных

In [85]:
#импорты и первичный анализ

In [86]:
import pandas as pd
import numpy as np
import sklearn

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [87]:
data = pd.read_csv('/datasets/insurance.csv')

In [88]:
data.head()

   Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0    1     41.0   49600.0            1                  0
1    0     46.0   38000.0            1                  1
2    0     29.0   21000.0            0                  0
3    0     21.0   41700.0            2                  0
4    1     28.0   26100.0            0                  0

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Пол                5000 non-null   int64
 1   Возраст            5000 non-null   float64
 2   Зарплата           5000 non-null   float64
 3   Члены семьи        5000 non-null   int64
 4   Страховые выплаты  5000 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

In [90]:
#пропусков нет

In [91]:
data.describe()

               Пол      Возраст      Зарплата  Члены семьи  Страховые выплаты
count  5000.000000  5000.000000   5000.000000  5000.000000        5000.000000
mean      0.499000    30.952800  39916.360000     1.194200           0.148000
std       0.500049     8.440807   9900.083569     1.091387           0.463183
min       0.000000    18.000000   5300.000000     0.000000           0.000000
25%       0.000000    24.000000  33300.000000     0.000000           0.000000
50%       0.000000    30.000000  40200.000000     1.000000           0.000000
75%       1.000000    37.000000  46600.000000     2.000000           0.000000
max       1.000000    65.000000  79000.000000     6.000000           5.000000

 Все данные на месте и не требуют предобработки.

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера👍:</b> Хорошо
</div>

## Умножение матриц

В этом задании вы можете записывать формулы в *Jupyter Notebook.*

Чтобы записать формулу внутри текста, окружите её символами доллара \\$; если снаружи —  двойными символами \\$\\$. Эти формулы записываются на языке вёрстки *LaTeX.* 

Для примера мы записали формулы линейной регрессии. Можете их скопировать и отредактировать, чтобы решить задачу.

Работать в *LaTeX* необязательно.

Обозначения:

- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $P$ — матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

Предсказания:

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

 Признаки умножают на обратимую матрицу. Изменится ли качество линейной регрессии? (Её можно обучить заново.)
 a. Изменится. Приведите примеры матриц.
 b. Не изменится. Укажите, как связаны параметры линейной регрессии в исходной задаче и в преобразованной.
 
**Ответ:** НЕТ

**Обоснование:** 
Запишу новое представление матрицы признаков с учетом домнажения на обратную матрицу:

$$
Z = XP
$$

Тогда формулы будут иметь следующий вид:

Предсказания: 
$$
A=ZW
$$

Формула обучения: 
$$
W = (Z^T Z)^{-1} Z^T y
$$

где W - вектор весов

Подставлю значение Z в формулу обучения и преобразую ее:
$$
W = (Z^T Z)^{-1} Z^T y
$$

$$
W = ((XP^T)(XP))^{-1} (XP)^T y
$$

<div class="alert alert-block alert-danger">
<b>Комментарий ревьюера❌:</b> молодец, что не раскрыла $(X^T X)^{-1}$, так как для неквадратных матриц $X$ и $X^T$ обратных матриц не существует, но у матриц принципиален порядок множителей, поэтому при раскрытии скобок мы должны пользоваться следующими свойствами:
    
$$
(AB)^T=B^T A^T
$$
$$
(AB)^{-1} = B^{-1} A^{-1}
$$
$$
A A^{-1} = A^{-1} A = E
$$
$$
AE = EA = A
$$
</div>

$$
W = (P^T X^T XP)^{-1} P^T X^T  y
$$

$$
W = P^{-1} (X^T X)^{-1}  (P^T)^{-1}  P^T X^T y
$$

По свойству обратной матрицы: при умножение матрицы на обратную ей получается единичная матрица (E)

Получается, что:
$$
(P^T)^{-1} P^T = E
$$

Вектор весов линейной регрессии:
$$
W = (EP)^{-1}(X^T X)^{-1}  X^T y
$$

Так как при умножение любой матрицы на единичную матрицу получается таже самая матрица, то:

$$
W =  P^{-1} (X^T X)^{-1}  X^T y
$$

Полученную выше формулу можно представить ввиде 
$$
W = P^{-1} w
$$
так как 
$$
 w = (X^T X)^{-1} X^T y
$$


Подставлю полученное значение вектора весов линейной регрессии в формулу предсказаний:

$$
W = Z(P^{-1} w)
$$
$$
W = XP(P^{-1} w)
$$

По свойству обратной матрицы и единичной матрицы сразу сокращаю $$P$$ и $$P^{-1}$$

$$
A = X w
$$

Исходная формула вектора предсказаний равна формуле вектора предсказаний в случае, для которого матрицу признаков умножили на обратимую матрицу. Качество линейной регрессии не изменится.

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера V.2👍:</b> Теперь верно =)
</div>

## Алгоритм преобразования

**Алгоритм**

План действий:

Умножу матрицу признаков на матрицу шифрования 

Найду метрики качества  и  на исходных данных и на преобразованных

Вывод

**Обоснование**

Если произвести умножение признаков выборок на одну и ту же обратимую матрицу, количество столбцов матрицы A должно быть равно количеству строк матрицы, полученная матрица будет иметь количество строк матрицы A и количество столбцов матрицы B.

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера👍:</b> Верно
</div>

## Проверка алгоритма

In [92]:
#разобью на признаки 
features = data.drop('Страховые выплаты', axis=1)
target = data['Страховые выплаты']

In [93]:
#выборки
train_features, test_features, train_target, test_target = train_test_split(
    features,target, test_size=0.25, random_state=254
)

In [94]:
train=train_features.shape[0]/features.shape[0]
test=test_target.shape[0]/target.shape[0]

print('Размер тренировочной выборки- {:.0%}'.format(train))
print('Размер тестовой выборки - {:.0%}'.format(test))

Размер тренировочной выборки- 75%
Размер тестовой выборки - 25%

In [95]:
#матрицу шифрования сгенерирую с помощью np.random.normal()

In [96]:
# создам обратимую квадратную матрицу со случайными числами размерностью столбцов features
state = np.random.RandomState(12345)
matrix_1=np.random.normal(size=(features.shape[1],features.shape[1]))

In [97]:
# зашифрую даннные путем умножения матриц
features_1=features @ matrix_1
features_1

                0             1            2            3
0    -8863.590462 -61245.846370  3653.672228  5719.814343
1    -6813.970890 -46922.261443  2792.401724  4377.966494
2    -3771.189316 -25931.322664  1542.463985  2418.374855
3    -7430.710469 -51489.319244  3074.823043  4815.018962
4    -4674.192908 -32228.935625  1921.156356  3006.682600
...           ...           ...          ...          ...
4995 -6377.561260 -44080.829101  2628.053851  4118.170103
4996 -9349.170150 -64702.781979  3862.743201  6048.555877
4997 -6045.538225 -41857.978650  2498.030658  3913.003691
4998 -5836.033881 -40375.656502  2408.048147  3770.661217
4999 -7246.456808 -50132.405205  2992.842971  4683.587962

[5000 rows x 4 columns]


После умножения размер матрицы признаков и кодированных признаков совпадает

In [98]:
#качество линейной регресии на нешифрованных данных

In [99]:
model = LinearRegression()

model.fit(features, target)

predictions = model.predict(features)

print('R2:', r2_score(target,predictions))

R2: 0.4249455028666801

In [100]:
#качество линейной регресии c шифрованием данных

In [101]:
model_1 = LinearRegression()

model_1.fit(features_1, target)

predictions = model_1.predict(features_1)

print('R2:', r2_score(target,predictions))

R2: 0.4249455028666802


Качество моделей с шифрованием при помощи умножения на обратимую матрицу со случайными числами не изменяется

In [102]:
#декодирую данные обратно
matrix_2=np.linalg.inv(matrix_1)

In [103]:
#matrix_2

In [104]:
features_dec =features_1 @ matrix_2

In [105]:
features

      Пол  Возраст  Зарплата  Члены семьи
0       1     41.0   49600.0            1
1       0     46.0   38000.0            1
2       0     29.0   21000.0            0
3       0     21.0   41700.0            2
4       1     28.0   26100.0            0
...   ...      ...       ...          ...
4995    0     28.0   35700.0            2
4996    0     34.0   52400.0            1
4997    0     20.0   33900.0            2
4998    1     22.0   32700.0            3
4999    1     28.0   40600.0            1

[5000 rows x 4 columns]

In [106]:
pd.DataFrame(features_dec, columns = features_dec.columns)

                 0     1        2             3
0     1.000000e+00  41.0  49600.0  1.000000e+00
1     3.603865e-13  46.0  38000.0  1.000000e+00
2     1.917680e-13  29.0  21000.0 -5.821692e-13
3    -8.646415e-14  21.0  41700.0  2.000000e+00
4     1.000000e+00  28.0  26100.0 -5.703127e-13
...            ...   ...      ...           ...
4995  5.118397e-14  28.0  35700.0  2.000000e+00
4996  1.375677e-13  34.0  52400.0  1.000000e+00
4997  2.962694e-13  20.0  33900.0  2.000000e+00
4998  1.000000e+00  22.0  32700.0  3.000000e+00
4999  1.000000e+00  28.0  40600.0  1.000000e+00

[5000 rows x 4 columns]

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера V.2👍:</b> При расшифровке действительно можно заметить некоторую погрешность вычислений. Все дело в том, что формат float имеет особый способ хранения значений, который не позволяет производить вычисления со 100% точностью. Без перевода данных в формат int они имеют экспоненциальную запись числа (число до e умножается на 10 в степени, которая указана после е), но значения приближены к ожидаемым. Чтобы исправить погрешность вычислений, мы можем сначала произвести огругление (останется проблема с отрицательными нулями) и затем перевести в формат int (сразу перевести не можем, так как astype(int) возьмет целую часть от числа, если было 0.99, то он превратит 0). 
</div>

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера👍:</b> Верно, таким образом в случае домножения матрицы признаков на случайную обратимую матрицу можно обеспечить защиту данных, не особо потеряв в качестве модели. (Незначительное отличие вызвано особенностью преобразования матриц и чисел с плавающей точкой, это норма https://docs-python.ru/tutorial/operatsii-chislami-python/problemy-chisel-plavajuschej-zapjatoj/)
</div>

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера👍:</b> Дополнительно можно попробовать декодировать данные обратно
</div>

## Вывод

Требовалось защитить данные клиентов страховой компании «Хоть потоп» и разработать такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию.

Преобразование необходимо было произвести таким образом, чтобы по результату работы алгоритма, качество моделей машинного обучения не ухудшилось.

В результате проекта был разработан алгоритм, где данные были преобразованы методом умножения признаков исходных данных на обратимую матрицу. Результатом такого преобразования явилась новая  матрица признаков, которая справилась с основными задачами по шифровке данных и при сравнении качества предсказаний с изначальной моделью  сохранила значения метрики r2score неизменными.

Требования поставленной задачи компании «Хоть потоп» были выполнены.

## Чек-лист проверки

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  Jupyter Notebook открыт
- [ ]  Весь код выполняется без ошибок
- [ ]  Ячейки с кодом расположены в порядке исполнения
- [ ]  Выполнен шаг 1: данные загружены
- [ ]  Выполнен шаг 2: получен ответ на вопрос об умножении матриц
    - [ ]  Указан правильный вариант ответа
    - [ ]  Вариант обоснован
- [ ]  Выполнен шаг 3: предложен алгоритм преобразования
    - [ ]  Алгоритм описан
    - [ ]  Алгоритм обоснован
- [ ]  Выполнен шаг 4: алгоритм проверен
    - [ ]  Алгоритм реализован
    - [ ]  Проведено сравнение качества моделей до и после преобразования

:)

<div class="alert alert-block alert-danger">
<b>Комментарий ревьюера❌:</b> Спасибо тебе за проделанную работу, к сожалению, сейчас я не могу принять твой проект, поэтому придётся ещё немного поработать - исправить ошибку в доказательстве.
    
До скорой встречи, если у тебя есть какие-то вопросы, то обязательно пиши =)
    
</div>

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера V.2👍:</b> Дополнительные материалы:

Обзоры по применению криптографии в машинном обучении: https://arxiv.org/pdf/1902.04109.pdf, https://www.researchgate.net/publication/342746786_Some_Applications_of_Machine_Learning_in_Cryptography

Небольшой обзор на Шифр Хилла: https://habr.com/ru/post/595281/
    
Ещё пара статей на эту тему:
    
-	https://medium.com/intuit-engineering/machine-learning-on-encrypted-data-no-longer-a-fantasy-58e37e9f31d7
-	https://towardsdatascience.com/cryptography-crash-course-for-the-intimidated-892b7889528a
-	https://towardsdatascience.com/homomorphic-encryption-machine-learning-new-business-models-2ba6a4f185d

   
Примеры использования линейной алгебры в машинном обучении:
https://machinelearningmastery.com/examples-of-linear-algebra-in-machine-learning/
    
Для чего нужна математика в машинном обучении?
https://proglib.io/p/dlya-chego-nuzhen-matematicheskiy-analiz-v-mashinnom-obuchenii-2021-02-15

Большая статья по векторам:
https://neptune.ai/blog/understanding-vectors-from-a-machine-learning-perspective  

Можно ещё дополнительно посмотреть лекции от МФТИ https://www.youtube.com/playlist?list=PLk4h7dmY2eYHHTyfLyrl7HmP-H3mMAW08
    
Классная серия роликов по линейной алгебре на английском (можно включить автоматические русские субтитры): https://www.youtube.com/playlist?list=PLRDl2inPrWQW1QSWhBU0ki-jq_uElkh2a


Удачи в будущих проектах и работе, всё обязательно получится!
</div>